.leaf-accueil {
    
    height: 1024px;
    width: 1440px;
    top: 0px;
    border-radius: 0px;

    background: #ffffff;

    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.body-accueil {
    width: 1240px;
    height: 1095px;
    left: 100px;
    top: 171px;
}

.header-accueil {
    position: absolute;
    width: 1240px;
    height: 68px;
    left: 100px;
    top: 40px;
}

.background-accueil {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #f7f7f7;
    border-radius: 25px;
    /*border-style: solid;
    border-width: 1px;
    border-color: black;*/
}

.section1-accueil {
    position: absolute;
    width: 1240px;
    height: 223px;
    padding: 2px;
    border: solid 2px black;

    /*left: 100px;
    top: 171px;*/
}

.coast {
    position: relative;
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    object-fit: cover;
    left: 0;
    right: 0;
    border-radius: 25px;
    border: solid 1px red;

    /*left: 100px;
    top: 171px;*/
}

.slogan {
    position: absolute;
    height: 68px;
    width: 705px;
    align-items: center;
    text-align: center;
    border-radius: nullpx;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
    border: solid 2px blue;
    color: red;
}
