.engagements {
    width: 88%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.barretext {
    height: 43px;
    display: flex;
    position: sticky;
    width: 100%;
    flex-wrap: nowrap;
    padding: 7px 0 0px 0;
    background-color: #ff6060;
    color: white;
    border-radius: 5px;
    z-index: 10;
}
.text {
    width: 92%;
    padding: 5px 0px 0px 15px;
}

.arrow {
    background-color: transparent;
    border: 0;
    right: 1%;
    margin-top: 5px;
    width: 45px;
    height: 30px;
    z-index: 10;
}
.arrow :hover {
    cursor: pointer;
}
.closed .content {
    width: 100%;
    height: 0px;
    overflow: hidden;
}
.open .content {
    width: 100%;
    height: fit-content;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 30px 15px 20px 15px;
    box-sizing: border-box;
    z-index: 1;
    line-height: 160%;
    margin-top: -9px;
}
.open li {
    list-style: none;
}
.open .arrow {
    margin-top: 2px;
    transform: rotate(180deg);
}

/*************************************** TABLETTE ***************************************************/
@media screen and (max-width: 1023px) {
    .barretext {
        height: 30px;
        padding: 0 0 6px 0;
        background-color: #ff6060;
    }
    .text {
        margin-top: 3px;
    }
    .arrow {
        position: relative;
        padding-top: 0;
        right: 2%;
    }
    .open .arrow {
        margin-top: 1px;
    }
}
/*************************************Mobile phones*********************************************/
@media screen and (max-width: 599px) {
    .barretext {
        font-size: 13px;
        height: 28px;
        padding: 0 0 0 px;
    }

    .arrow {
        transform: initial;
        right: -38%;
        width: 26px;
        height: 12px;
        margin-top: 7px;
    }

    .arrow img {
        width: 100%;
        height: 100%;
    }

    .open .arrow {
        transform: rotate(180deg);
        margin-top: 10px;
    }

    .open {
        font-size: 12px;
        border-radius: 5px;
        line-height: 17px;
        margin-bottom: 0px;
    }
    .open .content {
        width: 100%;
        height: fit-content;
        background-color: #f7f7f7;
        border-radius: 10px;
        padding: 20px 5px 20px 5px;
        box-sizing: border-box;
        z-index: 1;
        line-height: 160%;
        margin-top: -9px;
    }
}
