@font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat-Regular.otf");
    font-family: "montserratbold";
    src: url("../fonts/Montserrat-Bold.otf");
}


@media screen and (min-width: 1025px) {
    .bodyerror {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 700px;
        font-family: "montserrat";
        color: #ff6060;
        align-items: center;
        padding-bottom: 50px;
    }
    .cat100cat {
        margin: 0;
        font-family: "montserratbold";
        font-size: 250px;
        font-weight: bolder;
        width: fit-content;
        height: fit-content;
    }
    .oups {
        display: flex;
        width: fit-content;
        height: fit-content;
        font-size: 36px;
        margin: 0;
    }
    .error-nav {
        font-family: "montserrat";
        color: inherit;
        font-size: 18px;
    }
}
/*************************************** TABLETTE ***************************************************/
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .bodyerror {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 600px;
        font-family: "montserrat";
        color: #ff6060;
        align-items: center;
        padding-bottom: 50px;
    }
    .cat100cat {
        margin: 0;
        font-family: "montserratbold";
        font-size: 200px;
        font-weight: bolder;
        width: fit-content;
        height: fit-content;
    }

    .oups {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: fit-content;
        height: fit-content;
        font-size: 30px;
        margin: 0;
    }

    .error-nav {
        font-family: "montserrat";
        color: inherit;
        font-size: 18px;
    }
}
/*************************************Mobile phones*********************************************/
@media screen and (max-width: 599px) {

    .bodyerror {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 500px;
        font-family: "montserrat";

        color: #ff6060;
        align-items: center;
        padding-bottom: 50px;
    }
    .cat100cat {
        margin: 0;
        font-family: "montserratbold";
        font-size: 150px;
        font-weight: bolder;
        width: fit-content;
        height: fit-content;
    }

    .oups {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: fit-content;
        height: fit-content;
        font-size: 18px;
        margin: 0;
    }

    .error-nav {
        font-family: "montserrat";
        color: inherit;
        font-size: 14px;
    }
}
